body {
    background-color: #042B27;
    background-image: linear-gradient(rgba(97, 155, 138, 0), rgba(97, 155, 138,.5));
}
/* navbar */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 40%;
    height: auto;
    padding: 1%;
    text-align: center;
}

nav {
    width: 50%;
    padding: 0%;
}

ul {
    width: 70%;
    float: right;
    text-align: right;
    color: #F0EADB;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

li {
    padding: 20px;    
}

/* hero image */

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    margin: auto;
    text-align: center;
}

h1 {
    color: #F0EADB;
    font-family: "Vidaloka", serif;
    font-size: 64px;
}

h3 {
    color: #F0EADB;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    padding-left: 300px;
    padding-right: 300px;
}
/* featured case studies */

h2 {
    color: #F0EADB;
    font-family: "Vidaloka", serif;
    font-size: 48px;
    width: 40%;
    display: inline-block;
    text-align: center;
}

h5 {
    color: #F0EADB;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    width: 40%;
    display: inline-block;
    text-align: right;
    padding-left: 80px;
}

.caseStudiesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "first second third"
        "fourth fifth sixth";
}

.caseFirst {
    grid-area: first;
}

.caseSecond {
    grid-area: second;
}

.caseThird {
    grid-area: third;
}

.caseFourth {
    grid-area: fourth;
}

.caseFifth {
    grid-area: fifth;
}

.caseSixth {
    grid-area: sixth;
}

/* footer */
footer {
    background-color: #619B8A;
    padding: 25px;
}

p {
    display: inline-block;
    width: 20%;
    vertical-align: bottom;
    padding: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #F0EADB;
}

h4 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 25px;
    font-family: "Vidaloka", serif;
    font-size: 18px;
    color: #F0EADB;
}

img {
    vertical-align: top;
    padding: 25px;
}

@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "first"
            "second"
            "third"
            "fourth"
            "fifth"
            "sixth";
    }
}